/* making the background green color for whole page */
body { 
   background-color: #003220;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
/* making the background green color for whole page */